@charset "utf-8";
/* @font-face {font-family: 'scdream4'; src:url(font/scdream4.woff)} */

body {font-family: 'scdream4'; color:#666;}
body,ul,li,h1,h2,h3,h4,h5{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
.inner{width: 1200px; margin: auto;}


/* header */
header{
    width: 100%;
    height: 10%; /*헤더높이*/
    background-color: orange;
    position: fixed;
    top: 0;
    z-index: 999;
}

header .inner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 23px; /*헤더inner여백마춤값*/
}
header ul{
    display: flex;
    margin-top: -41px; /*헤더ul여백마춤값*/
}
header ul li a {
    display: block;
    padding: 50px;
    color: rgb(10, 6, 6);
    font-size: 20px;
    font-weight: bolder
}
header h1 a{
    color: rgb(10, 6, 6);
}
/* header a:hover { 글자만 호버넣고 싶을때
    background: green; 
    color:rgb(10, 6, 6); 
    font-weight: bold;
} */

/* visual */
#visual{
    width: 100%;
    height: 1000px;
    background-color: green;
    /* background-color: rgb(10, 6, 6);  */
    /* background: url(images/visual_1.png);
    background-repeat: no-repeat;
    background: center top;  */
    color: rgb(255, 166, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    /* flex-direction: column; */
}
@media (max-width:768px) {/* 반응형으로 만들기 */
    #visual{
        flex-direction: column;
    }
}
/* 내가임의로만든거임물어보고처리할것 */
#visual .visual_img{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ani-visual;
    animation-duration: 6s;
    
    height: 600px; 
    /* background-color: blue; 
    background-image: url('../images/visual_1.png');
    background-size: cover; */
} 

#visual .visual_img img{
    width: 75%;
    height: 856px;
    /* 이미지자에여백값준거임 */
    margin-top: 9rem;
    margin-left: 13rem; 
} 

/* 애니부분이 양쪽으로 움직이고 싶은데 글자만 한방향으로 움직임 */

@keyframes ani-visual {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(900px);
    }
}
#visual .inner{
    animation-name: ani-inner;
    animation-duration: 6s;
}
@keyframes ani-inner {
    0%{
        transform: translate(0px);
    }
    80%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(-900px);
    }
}

#visual div .about{
    margin-top: 20rem;
    margin-left: 50px;
}
#visual .inner {
    padding-top: 180px;
    padding-left: 200px;
    /* padding: 200px 0 0 650px; 
    box-sizing: border-box; */
}
#visual h2 {
    font-size: 5rem;
    font-weight: bolder;
}
#visual p {
    font-size: 1.5rem; 
    font-weight: bolder;
    margin: 60px 0;
}
#visual a {
    display: inline-block; 
    padding: 15px 40px; 
    font-size: 20px; 
    border: 1px solid orange; 
    color:orange; 
    transition: 0.3s;}
#visual a:hover {
    background: orange; 
    color:rgb(10, 6, 6); 
    font-weight: bold;
}
/* common */
article{/* 전체레이아웃의모든아티클위치값 */
    text-align: center;
    margin-bottom: 50px;
}
article h2{
    font-size: 32px;
    color: rgb(10, 6, 6);
    padding-bottom: 30px; /* 내부의자리띄운값 */
}
#about, #skill, #portfolio, #advan, #contact{
    padding-bottom: 100 0px;
    line-height: 27px; /* 각부분들의줄과줄간격 */
}

/* about */
#about{
    width: 100%;
    height: 1000px;
    background-color: rgb(10, 6, 6);
    /* background-color: rgba(93, 174, 21, 0.767); */
}
#about article{
    padding-top: 150px;
}
#about .inner{
    margin-top: 120px;
}
#about ul{ /* about ul부분 위치모두 잡아주는 값 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#about h2{
    font-size: 2.5rem;
    color: orange;
}
#about li h4{
    font-size: 19px;
    color: #333;
    margin-top:20px;/* 이미지와h4의간격부분 */
}
#about article strong{/* 한다면한다적용순서 */
    color:orange;
}
#about ul li img {/* 이미지사이즈값 */
    transition-duration: 1s;
}
#about ul li img:hover{
    transform: rotateY(180deg);
}


/********************************************************/

/* skill _ 1 스킬텍스트부분및위치값*/
#skill{
    background-color: rgb(252, 233, 198);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
#skill div{
    width: 50%;
    margin-top: 140px;
    margin-left: 130px;
}
#skill ul{
    width: 50%;
    margin-top: 140px;
    margin-right: 130px;
}
#skill h4{
    font-size: 30px;
    font: normal;
    line-height: 45px;
    margin-bottom: 20px;
}
#skill h4 span {
    color: rgb(10, 6, 6);
    font-weight: bold;
}
#skill div strong{
    font-size: 20px;
    color: rgb(10, 6, 6);
}
/* skill _ 2 스킬그래프모양*/
#skill ul li {
    position: relative;
}
#skill ul h5{
    font-size: 18px;
    color: rgb(10, 6, 6);
}
#skill ul h5 span{ /* 그래프스킬%값의위치값 */
    position: absolute;
    right: 0;
    color: #666;
}
#skill ul p{ /* 그래프검정색및길이값 */
    width: 100%;
    background-color: rgb(10, 6, 6);
    height: 15px;
}
#skill ul p strong{
    display: inline-block; /*레이아웃에서검정그래프위의노랑색위치값맞춘것 */
    height: 15px; /* 검정그래프위노랑색이포개지는위치값맞춘것 */
    position: absolute;
    top: 27px;
    left: 0%;
}
#skill li:nth-child(1) strong{
    background-color: green;
    width: 90%;
}
#skill li:nth-child(2) strong{
    background-color: green;
    width: 70%;
}
#skill li:nth-child(3) strong{
    background-color: green;
    width: 80%;
}
#skill li:nth-child(4) strong{
    background-color:  green;
    width: 80%;
}
#skill li:nth-child(5) strong{
    background-color:  green;
    width: 60%;
}
/********************************************************/

/* portfolio _1 */
#portfolio {
    width: 100%;
    height: 1100px; 
    background: rgb(10, 6, 6);
}
#portfolio .inner{
    padding-top: 120px;
}
#portfolio h2 {
    font-size: 3rem;
    color:orange
    
}
#portfolio article p{
    color: orange;
}
#portfolio ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: ; */
    align-items: center;
    max-width: 1000px;
}
#portfolio ul li.port_img{
    width: 385px;
    height: 300px;
    margin: 1rem;
    text-align: center;
    position: relative;
}
#portfolio ul li.port_img > *{
    position: absolute;
    top: 0;
    left: 0;
}

#portfolio ul li.port_img a{/* 호버부분flex 값 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: orange;
}
#portfolio .port{
    margin-bottom: 25px;
}

/* portfolio _2 */
/* js폴더 6개 넣을 부분-이부분은 깃허브랑 어떻게 처리할건지  */
#portfolio .port1 li:nth-child(1){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}
#portfolio .port1 li:nth-child(2){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}
#portfolio .port1 li:nth-child(3){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}
#portfolio .port1 li:nth-child(4){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}
#portfolio .port1 li:nth-child(5){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}
#portfolio .port1 li:nth-child(6){
    background: url(#);/* 이미지나 박스 만들어 넣을것 */
    background-repeat: no-repeat center;
}

/* portfolio _3 호버했을때 보일부분들 */
#portfolio li a {/* js 1~6폴더부분 텍스트넣을것 고민할것 */
    display: block;
    width: 100%;
    height: 100%;
    color: aliceblue;
}
#portfolio li p{/* 이미지에호버했을때js 1~6폴더각각하나씩3초씩보이게 */
    opacity: 0;
    transition: 0.3s;
}
#portfolio li:hover p{
    opacity: 1;
}
#portfolio li:hover a{
    
    background-color: rgb(10, 6, 6);
    opacity: 0.7;
}
/********************************************************/

/* advantage */
#advan {
    width: 100%;
    height: 700px;
    background-color: rgb(252, 233, 198);;
}
#advan article {
    padding-top: 80px;
}
#advan.ul{
    margin-top: 100px;
} 
#advan ul{/*advan ul의 각각자리값  */
    display: flex;
    justify-content: space-between;
}
#advan ul li{/* 이미지 3개 가져올부분 */
    width: 27%;
    text-align: center;
}
#advan ul li img {/* 이미지사이즈값 */
    width: 100%;
    height: 270px;
    transition-duration: 0.5s;
    overflow: hidden;
}
#advan ul li img:hover{
    transform: scale(1.1);
    /* background-color: #000; */
    opacity: 0.4; /*색깔 호버는 안되고 오파시티만됨 물어볼것*/
}
/* #advan img:hover { 여러방법해봐도 색깔호버안됨물어보고지울것
    background-color: #000;
} */

#advan article h2{
    font-size: 2.5rem;
    color: orange;
}
#advan p{
    color: orange;
}
#advan ul li h3{
    font-size: 17px;
    font-weight: bolder;
    margin: 20px ;
    color: rgb(10, 6, 6);
}
/********************************************************/

/* contact */
#contact { /* psd부분참조할것이미지로적용시킬것 */
    width: 100%;
    height: 520px;
    background-color: rgb(10, 6, 6); 
    text-align: center;
    /* background: url(img/contact_bg.jpg); */
    background-repeat: no-repeat center;
}
#contact .inner {
    margin-top: 60px;
}
#contact article{
    padding-top: 80px
}
#contact h2 {
    font-size: 2.5rem;
    color: orange;
}
#contact p{
    color: orange;
}
#contact ul{
    display: flex;
    justify-content: space-evenly;
}
#contact a{
    color: #fff;
}

.top{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgb(10, 6, 6);
    font-size: 15px;
    font-weight: bolder;
    color: orange;
    padding: 15px;
}