@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #fff;}
ul{list-style: none;}
ul>li{
    display: inline-block;
}

/**************header************/
header{
    /* width: 100%; */
    background-color: #CACACA;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0; */
}
.name p{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px auto;
}
.name p>span{
    color: green;
    font-size: 2.5rem;
    font-weight: bolder;
}
ul>li>a{
    color: #000;
    font-weight: bolder ;
    margin-left: 50px;
}
/*************banner************/
.banner{
    box-sizing: border-box;
    width: 100vw;
    height: 730px;
    background-color:#000;
    background-size: cover;
    position: relative;
}
.banner> .img_1{
    position: absolute;
    top: 10px;
    left: 60px;
}
.banner> .img_2{
    position: absolute;
    top:640px;
    right: 60px;
}

h1{
    font-size: 140px;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 70px;
    /* margin: 200px 0;
    margin-left: 1100px; */
}
.banner p{
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 55%;
    right: 130px;
    /* margin: 120px 0;
    margin-left: 1300px; */

}


/************section_1************/
.wrap{
    width: 100%;
    height: 600px;
    background-color:  #CACACA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.wrap h3{
    width: 100%;
    font-size: 40px;
    font-weight: bolder;
    margin: 30px auto;
    text-align: center;
    /*센타맞출것 확인하기*/
}
.wrap .item{
    width: 10%;
    margin: 130px;

}
.cir{
    width: 250px;
    margin: 20px auto;
    height: 250px;
    
    border-radius: 125px 125px;
    /* text-align: center; */
    line-height: 250px;
    position: relative;
}
.item:nth-of-type(1) .cir{
    background-image: url(images/img14.png);
    background-size: cover;
}
.item:nth-of-type(2) .cir{
    background-image: url(images/img15.png);
    background-size: cover;
}
.item:nth-of-type(3) .cir{
    background-image: url(images/jobs.png);
    background-size: cover;
}
p{
    font-size: 4rem;
}
.bold{
    font-size: 22px;
    font-weight: bold;
    line-height: 80px;
}

/***section_2-1_portfolio_image-box 9장작업***/
.container{
    width: 100%;
    height: 1350px;
    background-color: #000;
    text-align: center;
    color: #fff;/*container안에글자색깔*/

    
}
h2{
    font-size: 40px;
}
h5{
    font-size: 24px;
}
.img_list{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.img div{
    margin: 36px 18px;/*중첩마진값주기/이미지9장가로세로사이여백값주기 */
    width: 300px;  /*이미지9장사이사이여백주기에중첩마진값적용*/
    height: 300px;
    background-color:  #CACACA;
    box-shadow: 0 0 15px #fff;
}

/*******section_2-2_images9장작업*******/
.contact{ /*이부분쌤게 설명요망*/
    width: 100%;
    /* height: 200px; */
    background-color: #CACACA;
    padding-top: 20px;
}
.container .img_list .item1{
    background-image: url(images/img13.png);
    background-size: cover;
}
.container .img_list .item2{
    background-image: url(images/img2.jpg);
    background-size: cover;
}
.container .img_list .item3{
    background-image: url(images/img3.jpg);
    background-size: cover;
}
.container .img_list .item4{
    background-image: url(images/img4.png);
    background-size: cover;
}
.container .img_list .item5{
    background-image: url(images/img6.jpg);
    background-size: cover;
}
.container .img_list .item6{
    background-image: url(images/img5.png);
    background-size: cover;
}
.container .img_list .item7{
    background-image: url(images/img11.jpeg);
    background-size: cover;
}
.container .img_list .item8{
    background-image: url(images/html.png);
    background-size: cover;
}
.container .img_list .item9{
    background-image: url(images/img10.jpg);
    background-size: cover;
}
.container h2{
    font-size: 80px;
    text-align: center;
    padding: 40px;  /*검정배경과 h2태그 여백값*/
}
.container h5{
    text-align: center;
    padding-bottom: 50px; /*이미지9장과h2사이여백값*/
    margin-bottom: 10px;
}

/************section_4_contact*************/
.contact{width: 100%; height: 350px;}
h3{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.text{
    font-size: 12px;
    text-align: center;
    margin: 15px;
}
.sns{
    text-align: center; /*sns이미지중앙에 맟추는값*/
}
.sns a{
    display: inline-block; /*인라인<a>태그를인라인블록으로만드는값*/
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 25px auto; /*원과회색width사이여백값*/
    text-align: center; /*a태그중앙정렬(가로)값*/
    line-height: 40px; /*sns이미지와원4개위치중앙에맞추는값*/
    background-color: #fff;/*원의 흰색값*/
    overflow: hidden; /*가상 네모의 모습 숨기기*/
    position: relative;
    box-shadow: 0 0 10px #000;/*원4개에그림자값주기*/
}
.sns a i.icon{ /*i와.icon은띄우지않는다*/
    color: #000;
}
/* .fixed{
    width: 80px; height: 80px;
    border-radius: 40px 40px;
    background-image: url(images/img10.png);
    background-size: cover;
    line-height: 80px; */
    /* position: absolute;
    right: 47.5%; */
    /* position: fixed;top: 30px; right: 50px; */
/* text-align: center; div박스는text-align중앙정렬안되는지?
}*/
.float{
    width: 80px; height: 80px;
    border-radius: 40px 40px;
    background-image: url(images/img10.png);
    background-size: cover;
    line-height: 80px;
    position: absolute;
    right: 47.5%;
}
/*********section_4에/애니메이션주기(가상선택)*********/
.sns a::before{
    content: ''; /*가상에서 무조건 줘야 하는값*/
    /* display: block; */
    width: 0; /*가상네모의기준값(가상네모젤오른쪽자리)이되는값
                /첨에100%로줬다가마지막에0으로바꿔줌*/ 
    height: 100%;
    position: absolute;/*a태그랑색상친구들이랑위치맞춰주기*/
    top: 0;
    left: 0;
    transition: 0.9s;/*가상네모색깔이회전하는시간*/
    /* transition: all 1s linear; */
}
.sns a:nth-child(1)::before{
    background-color: #FFE400;
}
.sns a:nth-child(2)::before{
    background-color: red;
}
.sns a:nth-child(3)::before{
    background-color: #FFE400;
}
.sns a:nth-child(4)::before{
    background-color: green;
}
.sns a:hover::before{/*a에 호버하면 최종으로 위드값100% 만들어라*/
    width: 100%;
}
.sns a:hover i.icon{
    color: #fff;/*호버하면 흰색으로 버꿔라*/
    transform: rotateY(360deg);/*호버하면아이콘이360도회전해가/*
}
.sns a i.icon{ /*첨에흰색이었던아이콘색깔을다시검정색바꿔준값 */
    color: #000;/*아이콘돌때검정으로 색깔바껴라*/
    position: relative;/*그자리에고정시켜주겠다/여기relative는혼자값만사용*/
    transition: 0.9s; /*360도회전아이콘9초동안에실행해라*/
}

/*********section_5에/input만들기*********/
form{
    width: 30%;
    margin: 0 auto;
    height: 300px;
    background-color: aquamarine;
}
.call{
    position: relative;/*아이콘자리잡기위한position: relative*/
}
.call > input{
    display: block;
    width: 100%;/*100%는form의100%이므로input가로사이즈브라우져전체너비의30%다*/
    box-sizing: border-box;
    height:50px ;
    border: 1px solid green;
    border-radius: 5px;
    padding-left: 30px; /*아이콘 위치잡아주는값*/
}
i{
    position: absolute;
    top: 40%; /*아이콘왼쪽의자리잡아주느것/*/
    left: 10px;/*아이콘정확한 자리잡아줌*/
    /* margin-top: 60px;
    margin-right: 50px; */
}
.call > input:focus{
    border: 1px solid lightskyblue;
    box-shadow:0 0 4px lightskyblue;
}
.call >input:focus + .fa-solid{
    background-color: lightskyblue;
}
.call >input:focus::placeholder{
    visibility: hidden;
}








/*************footer************/
footer{
    width: 100%;
    height: 50px;
    background-color:#000;
    padding: 80px 0;
    text-align: center;
}
.text-1{
    font-size: 12px;
    text-align: center;
    color: #fff; 
}
 footer .fixed{
    width: 80px; height: 80px;
    border-radius: 40px 40px;
    background-image: url(images/img10.png);
    background-size: cover;
    line-height: 80px;
    /* position: absolute;
    right: 47.5%; */
    position: fixed;top: 30px; right: 50px;
/* text-align: center; div박스는text-align중앙정렬안되는지?*/
} 
/* footer .float{
    width: 80px; height: 80px;
    border-radius: 40px 40px;
    background-image: url(images/img10.png);
    background-size: cover;
    line-height: 80px;
    position: absolute;
    right: 47.5%;
} */
